.plant {
    position: absolute;
    bottom: 50px; /* Altura de la planta */
    left: 50%;
    transform: translateX(-50%);
    width: 10px; /* Ancho del tallo */
    height: 30px; /* Altura del tallo */
    background-color: #228B22; /* Color verde para el tallo */
    border-radius: 5px;
}

.plant::before, .plant::after  {
    content: '';
    position: absolute;
    width: 20px; /* Ancho de la hoja */
    height: 10px; /* Altura de la hoja */
    background-color: #32CD32; /* Color verde claro para la hoja */
    border-radius: 10px;
}

.plant::before {
    bottom: 10px; /* Posición de la hoja izquierda */
    left: -5px; /* Desplazamiento a la izquierda */
    transform: rotate(45deg);
}

.plant::after {
    bottom: 10px; /* Posición de la hoja derecha */
    right: -5px; /* Desplazamiento a la derecha */
    transform: rotate(-45deg);
}
.seed1{
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background-color: #8B4513; /* Color marrón para la semilla */
    border-radius: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 30px;
}
